<!DOCTYPE html>
<html>
<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <title>ws client</title>
  <style>
    body {
      font-family: arial;
    }
    .text-bold {
      font-weight:700;
    }
    .robotext {
      font-family: monospace;
    }
  </style>
</head>
<body>
<div id="app"></div>
<script>
  // ****
  // ws ctor
  // ****
  function wsClient(url) {
    this.router = {};
    this.ws = new WebSocket(url);
    this.ws.onopen = this._emitEventByType.bind(this);
    this.ws.onerror = this._emitEventByType.bind(this);
    this.ws.onclose = this._emitEventByType.bind(this);
    this.ws.onmessage = this._onmessage.bind(this);
  }

  wsClient.prototype._emitEventByType = function(e) {
    if (this.router[e.type]) {
      this.router[e.type](e);
    }
  }

  wsClient.prototype._onmessage = function (e) {
    var data = JSON.parse(e.data);

    if (data.event === 'ping') {
      return this.emit('pong', null);
    }

    if (this.router[data.event]) {
      this.router[data.event](data.payload); // already bound to ws in `on`
    }
  }

  wsClient.prototype.on = function(e, cb) {
    this.router[e] = cb.bind(this);
    return this;
  }

  wsClient.prototype.emit = function(e, payload) {
    this.ws.send(JSON.stringify({
      event: e,
      payload: payload
    }));
    return this;
  }

  // ***
  // vue
  // ***

  var inputs = {
    template: `
      <div>
        <input type="text" placeholder="name" v-model="user" @keyup.enter="updateUser">
        <input type="text" placeholder="msg" v-model="msg" @keyup.enter="addMessage">
      </div>
    `,
    data: function() {
      return {
        msg: '',
        user: ''
      }
    },
    methods: {
      updateUser: function(e) {
        this.$emit('updateUser', e.target.value);
      },
      addMessage: function(e) {
        this.$emit('addMessage', e.target.value);
        this.msg = '';
      }
    }
  };

  var users = {
    props: ['userlist'],
    template: `
      <div>
        <p class="text-bold">users {{userlist.length}}</p>
        <ul>
          <li v-for="user in userlist">{{user}}</li>
        </ul>
      </div>
    `
  };

  var msgs = {
    props: ['messages'],
    template: `
      <div>
        <p class="text-bold">msgs</p>
        <ul>
          <li v-for="msg in messages">{{msg.user}}: {{msg.msg}}</li>
        </ul>
      </div>
    `
  };

  var app = new Vue({
    el: '#app',
    template: `<div>
      <h1>/chat</h1>
      <p class="robotext">status: {{status}}</p>
      <inputs @updateUser="updateUser" @addMessage="addMessage"></inputs>
      <users :userlist="userlist"></users>
      <msgs :messages="messages"></msgs>
    </div>`,
    components: {
      inputs: inputs,
      users: users,
      msgs: msgs
    },
    data: function(){
      return {
        status: 'connecting',
        userlist: [],
        messages: []
      }
    },
    methods: {
      updateUser: function(user) {
        this.ws.emit('updateUser', {user: user});
      },
      addMessage: function(msg) {
        this.ws.emit('addMessage', {msg: msg});
      }
    },
    created: function() {
      var self = this;
      this.ws = new wsClient('ws://localhost:3000');
      this.ws
        .on('open', function(e) {
          self.status = 'connected';
          this.emit('connection', null);
        })
        .on('close', function(e){
          self.status = 'closed';
        })
        .on('initialData', function(data){
          self.userlist = data.userlist;
          self.messages = data.messages;
        })
        .on('messageAdded', function(data){
          self.messages.push(data);
        })
        .on('userlist', function(data){
          self.userlist = data.userlist;
        });
    }
  });

</script>
</body>
</html>
